PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=plataforma_energia_renovavel

# Gere um valor aleatório
JWT_SECRET=
JWT_EXPIRES_IN=1d

# Usuário administrador criado pela migration de seed
ADMIN_NOME=Administrador
ADMIN_EMAIL=
ADMIN_SENHA=
