# Dependências
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configurações e variáveis de ambiente (Segurança)
.env
.env.test
.env.development
.env.production

# Diretórios de build/compilação (útil caso adicione TypeScript no futuro)
dist/
build/

# Relatórios de cobertura de testes
coverage/
.nyc_output/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Configurações locais de editores de código
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj